@model Xbiz_Task.Models.EmployeeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .warning{
            color:red;
        }
    </style>
</head>
<body>

    <div>
        <h4>Personal Detail</h4> 

        @using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
           
            @Html.AntiForgeryToken()
    <table>
       
        <tr>
            <th>Name :</th>
            <td>
                @Html.TextBoxFor(e => e.Employee_Name, new { @class = "form-control" })
             
            </td>
            <td> <lable class="warning">@Html.ValidationMessageFor(e => e.Employee_Name)</lable></td>
            
        </tr>
        <tr>
            <th>State :</th>
            <td>
                @Html.DropDownListFor(e => e.Employee_State, new List<SelectListItem>
                   {
                              new SelectListItem{Text="Maharashtra" , Value="Maharashtra"},
                              new SelectListItem{Text="Delhi" , Value="Delhi"},
                              new SelectListItem{Text="Gujrat" , Value="Gujrat"},
                              new SelectListItem{Text="UP" , Value="UP"}
                  }, "Select State.")
            </td>
        </tr>
        <tr>
            <th>City :</th>
            <td>
                @Html.DropDownListFor(e => e.Employee_City, new List<SelectListItem>
                   {
                              new SelectListItem{Text="Mumbai" , Value="Mumbai"},
                              new SelectListItem{Text="Delhi" , Value="Delhi"},
                              new SelectListItem{Text="Surat" , Value="Surat"},
                              new SelectListItem{Text="Ayodya" , Value="Ayodya"}
                  }, "Select City.")
            </td>
        </tr>
        <tr>
            <th>Contact : </th>
            <td>
                @Html.TextBoxFor(e => e.Employee_Contact, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <th>Hobbies :</th>
            
            <td>
                @for (int i = 0; i < Model.hobbies.Count; i++)
                {
                    @Html.CheckBoxFor(e => Model.hobbies[i].isSelected)@Model.hobbies[i].hobby_name
                    @Html.HiddenFor(e => Model.hobbies[i].hobby_name)
                    @Html.HiddenFor(e => Model.hobbies[i].isSelected)
                    <br/>

                }

            </td>
        </tr>
        <tr>
            <th>Resume :</th>
            <td>
                <input type="file" name="file" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" />
            </td>
        </tr>
    </table>

        }



    </div>
</body>
</html>
